.frame {
    border: 20px solid maroon ;
    padding: 20px;
}
h1 {
    font-size: 20pt;
    color: #DD22FF;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: lightslategray .1em .1em .2em ;
}
.title {
    border-color: #DD22FF;
    border-width: 2px;
    border-style: dashed;
    background-color: #CCAAFF;
    margin-bottom: 20px;
}
h2 {
    font-size: 18pt;
    color: #DD22FF;
    letter-spacing: 8px;
    text-align: center;
}
.subtitle {
    border-color: #8244FF;
    border-width: 2px;
    border-top-style: dashed;
    border-bottom-style: dotted;
    background-color: #CC99FF;
    margin-bottom: 30px;
}
.list{
    background-color: #CC99FF;
    width: 30%;
}

li:nth-child(even){
    background-color: #DD22FF;
}

li:nth-child(even):hover {
    background-color: #3631d3;
    color:aliceblue;
}
li:nth-child(odd):hover {
    background-color: #289acf;
    color:aliceblue;
}
tr:nth-child(even){
    background-color: aquamarine;
}
tr:nth-child(odd){
    background-color: rgb(220, 103, 216);
}
tr:nth-child(odd):hover{
    background-color: rgb(160, 19, 207);
    color: aliceblue;
}
tr:nth-child(even):hover{
    background-color: rgb(31, 107, 230);
    color:aliceblue;
}
ul li::selection{
    background-color: #8150b3;
    color: #DD22FF;

}
.table {
    border: 2px solid  #8244FF ;
    padding: 15px;
}
table{
    width: 100%;
}
th{
    text-align: center;
}
td{
    border: 2px solid  #8244FF ;
    text-align: center;
}
.zag{
    text-align: left;
}
.second{
    margin-top: 30px;
    width: 40%;
    border-style: dashed;
    padding: 10px;
    border-color: #DD22FF;
}
.table_text{
    border: 2px solid #8244FF ;
    border-style: dashed;
    text-align: center;
    color:rgb(6, 6, 6);
}
.thelast{
    color: blue;
}
.style_cursor1{
    cursor: help;
}
.style_cursor2{
    cursor: pointer;
}
